* {
  font-family: system-ui;
}

body {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #eee;
}

.main-title {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

.main-content {
  flex: 1;
  padding: 12px;
  background-color: rgba(108, 92, 92, 0.082);
  backdrop-filter: blur(8px);
}

.input-title {
  font-size: 14px;
  font-weight: bold;
}

form {
  padding: 12px;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 16px;
}

.radio-group {
  display: flex;
  gap: 12px;
}

.button-group {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button {
  height: 32px;
  border-radius: 8px;
  background-color: antiquewhite;
  border: 2px solid #191717;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #eee;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="number"]:focus {
  border: 3px solid #555;
}

.result-section {
  text-align: center;
  border-radius: 8px;
  padding: 12px;
}
p {
  text-align: justify;
}
.general-information {
  text-align: center;
}
